* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.menucontainer {
  color: rgba(255, 255, 255, 0.832);
  display: flex;
  height: 6.2vh;
  position: fixed;
}

.name {
  font-size: 0.5em;
  padding-top: 10.8px;
  text-align: center;
  width: 18vw;
}
.ux {
  font-size: 0.8em;
  padding-top: 10px;
  width: 30vw;

  ul {
    display: flex;
    gap: 6vw;

    li {
      cursor: pointer;
      list-style: none;
      margin-left: -4vw;
    }
  }
}

.about {
  font-size: 0.8em;
  padding-top: 10px;
  padding-left: 15vw;
  width: 40vw;

  ul {
    display: flex;
    gap: 12px;

    li {
      list-style: none;
      cursor: pointer;
    }
  }
}
.user {
  padding-left: 15vw;
  padding-top: 0.5vh;
  text-align: center;
  width: 10vw;

  .useracc {
    cursor: pointer;
    height: 6vh;
    width: 5vw;
  }
}

.burger {
  background-color: rgb(172, 50, 2);
  height: 5.3vh;
  margin-left: 8vw;
  margin-top: 2px;
  padding-top: 8px;
  padding-left: 2.8px;
  text-align: center;
  text-align: center;
  width: 4.8vw;
  cursor: pointer;

  .lanes {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    div {
      width: 4vw;
      background-color: rgba(233, 233, 233, 0.838);
      height: 0.5vh;
    }
  }
}

.login {
  display: flex;
  font-size: 0.7em;
  height: 5vh;
  letter-spacing: 1px;
  margin-top: 6vh;
  margin-left: 70vw;
  position: fixed;
  visibility: hidden;
  width: 20vw;

  h2 {
    cursor: pointer;
  }
  h2:hover {
    scale: 1.01;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.4s ease-in-out;
  }
}
.logout {
  margin-left: 10vw;
  input {
    background-color: rgba(255, 255, 255, 0.778);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
  }
  input:hover {
    background-color: rgba(128, 128, 128, 0.552);
    color: white;
    transition: 0.2s ease-in-out;
  }
}

.activate {
  visibility: visible;
}

.sidecontainer {
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgba(128, 128, 128, 0.47);
  margin-top: 8vh;
  height: 60vh;
  margin-left: 68vw;
  position: fixed;
  padding-top: 5vh;
  transform: translateX(150%);
  transition: 0.4s ease-in-out;
  width: 20vw;

  nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 6vh;

      li {
        cursor: pointer;
        font-size: 1.2em;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: rgba(128, 128, 128, 0.699);
        width: 8vw;
        text-align: center;
      }
      li:hover {
        scale: 1.1;
      }
    }
  }
}

.sidecontainer.display {
  transform: translateX(0);
}

.indexbody.dim {
  background-color: rgba(0, 0, 0, 0.767);
  transition: 0.4s ease-in-out;

  .introduction {
    height: 50vh;
    padding-top: 8vh;
    nav {
      color: rgba(255, 255, 255, 0.046);
      margin-left: -5vw;
    }
  }
}
.connections {
  display: flex;
  gap: 1vw;
  padding-top: 1.3vh;
  div {
    cursor: pointer;
    height: 3vh;
    padding-top: 1px;
    text-align: center;
    width: 4vw;
    cursor: pointer;
  }
  img {
    width: 55%;
    cursor: pointer;
  }
}

.tab_active {
  color: rgb(228, 66, 2);
  text-underline-offset: 1px;
  scale: 1.1;
}
li {
  list-style: none;
}
.instance {
  background-image: url("https://medias.gazette-drouot.com/prod/medias/mediatheque/96142.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -12vh;
  height: 142vh;
  width: 100vw;
}
.overlay {
  background-color: rgba(12, 12, 12, 0.473);
  height: 130vh;
  width: 100vw;
}

.indexbody {
  height: 100vh;
  .introduction {
    height: 50vh;
    padding-top: 8vh;
    nav {
      color: rgba(255, 255, 255, 0.849);
      margin-left: -1vw;

      #self {
        font-size: 4em;
        list-style: none;
      }
      #skill2,
      #skill3,
      #skill4,
      #skill5,
      #skill6 {
        cursor: pointer;
        font-size: 2em;
        padding-left: 10vw;
        width: 50vw;
        letter-spacing: 1px;
        margin-left: -4vw;
      }
      #skill2:hover,
      #skill3:hover,
      #skill4:hover,
      #skill5:hover,
      #skill6:hover {
        scale: 1.05;
        transition: 0.2s ease-in-out;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 6vh;
      }
    }
  }
}
.aboutcontainer {
  margin-top: 30vh;
  background-color: rgba(122, 79, 0, 0.761);
  color: rgba(255, 254, 254, 0.76);
  height: 100vh;
  padding-top: 10vh;
  text-align: center;

  .statement {
    color: rgba(255, 254, 254, 0.76);
    letter-spacing: 2px;
    margin-top: 10vh;
    padding: 10vh;
    width: 100vw;
  }
}
.educontainer {
  height: 120vh;
  background-color: rgba(40, 40, 40, 0.453);
  color: rgba(255, 255, 255, 0.874);
  padding-left: 2vw;

  .education {
    height: 60vh;
    display: flex;
    .edutitle {
      width: 30vw;
      height: 45vh;
      padding-top: 15vh;
      nav {
        ul {
          li {
            text-decoration: underline;
            text-underline-offset: 10px;
          }
        }
      }
    }
    .univeristy {
      padding-left: 5vw;
      width: 68vw;
      height: 45vh;
      padding-top: 15vh;

      nav {
        ul {
          display: flex;
          flex-direction: column;
          gap: 4vh;

          li {
            h1 {
              font-size: 2em;
              font-weight: bolder;
              letter-spacing: 1px;
            }
            h2 {
              font-size: 1.2em;
              font-weight: lighter;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
  .researchcontainer {
    height: 60vh;
    display: flex;
    .research {
      width: 30vw;
      height: 45vh;
      padding-top: 15vh;
      nav {
        ul {
          li {
            text-decoration: underline;
            text-underline-offset: 10px;
          }
        }
      }
    }
    .publications {
      padding-left: 5vw;
      width: 68vw;
      height: 45vh;
      padding-top: 15vh;

      nav {
        ul {
          display: flex;
          flex-direction: column;
          gap: 4vh;

          li {
            h1 {
              font-size: 2em;
              font-weight: bolder;
              letter-spacing: 1px;
            }
            h2 {
              font-size: 1.2em;
              font-weight: lighter;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
  .skillscontainer {
    height: 60vh;
    display: flex;
    .skills {
      width: 30vw;
      height: 45vh;
      padding-top: 15vh;
      nav {
        ul {
          li {
            text-decoration: underline;
            text-underline-offset: 10px;
          }
        }
      }
    }
    .tools {
      padding-left: 5vw;
      width: 68vw;
      height: 45vh;
      padding-top: 15vh;

      nav {
        ul {
          display: flex;
          flex-direction: column;
          gap: 4vh;

          li {
            h1 {
              font-size: 2em;
              font-weight: bolder;
              letter-spacing: 1px;
            }
            h2 {
              font-size: 1.2em;
              font-weight: lighter;
              letter-spacing: 1px;
              margin-top: 1vh;
            }
          }
        }
      }
    }
  }
}
.skillscontainer {
  height: 80vh;
  display: flex;
  padding-left: 2vw;

  color: rgba(0, 0, 0, 0.726);
  .skills {
    width: 30vw;
    height: 45vh;
    padding-top: 15vh;
    nav {
      ul {
        li {
          text-decoration: underline;
          text-underline-offset: 10px;
        }
      }
    }
  }
  .tools {
    padding-left: 5vw;
    width: 68vw;
    height: 45vh;
    padding-top: 15vh;

    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 4vh;

        li {
          h1 {
            font-size: 2em;
            font-weight: bolder;
            letter-spacing: 1px;
          }
          h2 {
            font-size: 1.2em;
            font-weight: lighter;
            letter-spacing: 1px;
            margin-top: 1vh;
          }
        }
      }
    }
  }
}
.workcontainer {
  height: 60vh;
  display: flex;
  padding-left: 2vw;
  color: rgba(0, 0, 0, 0.726);

  .work {
    width: 30vw;
    height: 45vh;
    padding-top: 15vh;
    nav {
      ul {
        li {
          text-decoration: underline;
          text-underline-offset: 10px;
        }
      }
    }
  }
  .experience {
    padding-left: 5vw;
    width: 68vw;
    height: 45vh;
    padding-top: 15vh;

    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 4vh;

        li {
          h1 {
            font-size: 2em;
            font-weight: bolder;
            letter-spacing: 1px;
          }
          h2 {
            font-size: 1.2em;
            font-weight: lighter;
            letter-spacing: 1px;
            margin-top: 1vh;
          }
        }
      }
    }
  }
}
.workscontainer {
  background-color: rgba(153, 153, 153, 0.088);
  height: 540vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20vh;
  padding-top: 20vh;
  color: rgba(63, 62, 62, 0.792);
  ul {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    li {
      font-size: 1.2em;
    }
  }
}
